body {
    background: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  }
  
  .title {
    display: flex;
    font-size: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .imagestyle{
    background-image:url("https://img.icons8.com/plasticine/2x/camera.png")
  }
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }

  #bootstrap-overrides p{
    font-size: calc(12px + 0.4vw);
    font-weight: 400;
 }

 #bootstrap-overrides h1{
  font-size: calc(25px + 2.5vw);
}

#bootstrap-overrides h2{
  font-size: calc(25px + 2.5vw);
}

#bootstrap-overrides h4{
  font-size: calc(15px + 1vw);
  color: darkblue;
  text-align: center;
}


  .date {
    color: black;
  }
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #06d6a0;
  }
  
  .workButton:hover {
    background-color: #0ac593;
  }
  
  .schoolButton {
    background-color: #f9c74f;
  }
  
  .schoolButton:hover {
    background-color: #f3bc3c;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }